<h1>Getting Started with Angular Carousel</h1>
<h2>1a Download and Install</h2>
<p>First, you need download library:</p>
<ul>
  <li>We can download them from <a href="https://github.com/kappys1/angular2-carousel">Swiper GitHub repository</a></li>
  <li>
    Or, using NPM
    <pre>
      <div class="code hljs ruby">
        npm install --save angular2-carrousel
      </div>
    </pre>
  </li>
</ul>
In the downloaded/installed package we need files from the dist/ folder.

<h2>2a Usage</h2>
<p>First tou need to provide the CarouselModule to your desired Module</p>
<pre >
      <div class="code hljs ruby" [innerHTML]="html | safeHtml">

      </div>
</pre>

<h2>3. Add Carousel HTML Layout</h2>
<p>Now, you can use CarouselModule as follow:</p>
<pre >
      <div class="code hljs ruby" [innerHTML]="html2 | safeHtml">

      </div>
</pre>
<p><b>All slides of carousel must have "<i>.item-carousel</i>" </b></p>
<b><a href="https://embed.plnkr.co/CPWvmndIgpsglCvLChhc/">Preview plnkr</a></b>
