*{
  font-size: 2vh;
}
h1{
  font-size: 5vh;
  font-weight: 200;
}

h2{
  font-size: 3vh;
  font-weight: 200;
  color: #1976d2;
}

li{
  margin-top: 2vh;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  *{
    font-size: 1.8vh;
  }

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  *{
    font-size: 2vh;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  *{
    font-size: 1.8vh;
  }
}


@media (min-width: 1600px) {
  h1{
    font-size: 4vh;
  }
  h2{
    font-size: 2.5vh;
  }
  *{
    font-size: 1.8vh;
  }
}
