/**
  Style in simple style css
*/

.item-carousel div,
.item-carousel img{
  height: 100%;
  width: 100%;
}
.item-carousel div{
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}