<h1>Functions Examples</h1>
<p class="show-code"><a href="https://github.com/kappys1/angular2-carousel/tree/web-doc/src/app/components/functions-carousel" target="_blank">Source code</a></p>
<p>Slide prev and slide next by functions. you can set your style</p>
<p><b>Slide only works with buttons</b></p>
<div class="parameters-content">
  <div class="parameter-option">
    <button (click)="prev()">Prev</button>
  </div>
  <div class="parameter-option">
    <button (click)="next()">Next</button>
  </div>
</div>


<carousel-component [lockSlides]="true" #topCarousel>
  <div class="item-carousel"><div style="background-image: url(https://dqqzjdqmiszdy.cloudfront.net/sites/default/files/html5_assets/frames_minions_char_3_mob.png)"></div></div>
  <div class="item-carousel"><div style="background-image: url(http://i2.wp.com/farm1.staticflickr.com/502/19162022903_f8cd8501af.jpg?resize=500%2C271&ssl=1)"></div></div>
  <div class="item-carousel"><div style="background-image: url(https://i.pinimg.com/736x/78/1d/29/781d2914510339a762267ed4913cb62b.jpg)"></div></div>
  <div class="item-carousel"><div style="background-image: url(https://www.losminionsaldia.com/images/mas-minions/minion.png)"></div></div>
</carousel-component>
