language: node_js

cache: yarn

sudo: false

node_js:
  - '7'

matrix:
  fast_finish: true

before_install:
  - export CHROME_BIN=chromium-browser

before_script:
  - npm prune
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

script:
  - npm test