<h1>Properties Examples</h1>
<p class="show-code"><a href="https://github.com/kappys1/angular2-carousel/tree/web-doc/src/app/components/properties-carousel" target="_blank">Source code</a></p>
<p>The Perspective and Number of Initial Slide properties need reset the carousel for apply changes</p>
<div class="parameters-content">
  <div class="parameter-option">
    <button (click)="reset()">Reset</button>
  </div>
  <div class="parameter-option">
    <div>Mode</div>
    <select [value]="mode" (input)="mode = $event.target.value">
      <option value="vertical">Vertical</option>
      <option value="horizontal">Horizontal</option>
    </select>
  </div>
  <div class="parameter-option">
    <div>Time to slide</div>
    <input type="number" [value]="time" (input)="time = $event.target.value">
  </div>
  <div class="parameter-option">
    <div>Perspective</div>
    <input type="number" [value]="perspective" (input)="perspective = $event.target.value">
  </div>
  <div class="parameter-option">
    <div>Initial Slide</div>
    <input type="number" [value]="init" (input)="init = $event.target.value">
  </div>
</div>


<carousel-component [mode]="mode" [timeToSlide]="time" [perspective]="perspective" [initialSlide]="init" #topCarousel>
  <div class="item-carousel"><div style="background-image: url(https://dqqzjdqmiszdy.cloudfront.net/sites/default/files/html5_assets/frames_minions_char_3_mob.png)"></div></div>
  <div class="item-carousel"><div style="background-image: url(http://i2.wp.com/farm1.staticflickr.com/502/19162022903_f8cd8501af.jpg?resize=500%2C271&ssl=1)"></div></div>
  <div class="item-carousel"><div style="background-image: url(https://i.pinimg.com/736x/78/1d/29/781d2914510339a762267ed4913cb62b.jpg)"></div></div>
  <div class="item-carousel"><div style="background-image: url(https://www.losminionsaldia.com/images/mas-minions/minion.png)"></div></div>
</carousel-component>
