*{
  font-size: 2vh;
}

:host{
  display: block;
  margin-top: 10vh;
}
:host carousel-component{
  border: 1px solid black;
  display: block;
  overflow: hidden;
  padding: 8vh;
  width: 80vw;
  margin: 0 auto;
  margin-top: 2vh;
}
button{
  font-size: 2vh;
}
h1{
  font-size: 3vh;
  font-weight: 200;
  color: #1976d2;
}
.parameter-option{
  margin-right: 2vh;
}
.parameters-content{
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.item-carousel{
  background-color: white;
  display: -ms-flexbox !important;;
  display: -webkit-flex !important;;
  display: flex !important;;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.item-carousel img{
  height: 80%;
  width: auto;
}
p.show-code{
  color: #ab2300;
}
