:host carousel-component{
  border: 1px solid black;
  display: block;
  overflow: hidden;
  padding: 13vh;
  width: 80vw;
  margin: 0 auto;
}
.button-toggle{
  font-size: 2vh;
  margin-bottom: 1vh;
}
h1{
  font-size: 3vh;
  font-weight: 200;
  color: #1976d2;
}
.item-carousel{
  background-color: white;
  width: 40vh!important;
  height: 20vh!important;
  top: 0vh;
  -webkit-transition: all 500ms !important;
  -moz-transition:all 500ms!important;
  -o-transition: all 500ms!important;
  transition: all 500ms!important;
}
.item-carousel.actual{
  display: -ms-flexbox!important;
  display: -webkit-flex!important;
  display: flex!important;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 30vh!important;
  top:-5vh;
}
.item-carousel img{
  height: auto;
  width: 80%;
}
