/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

:host{
  /*margin-bottom: 5vh;*/
  display: block;
}
header{
  height: 25vh;
  padding: 2vh;
  overflow: hidden;
  background-position: center bottom;
  background: #1e70cd;
  background: -moz-radial-gradient(0% 0%,ellipse cover,#2c8dfb 0%,#1e70cd 50%);
  background: -webkit-gradient(radial,0% 0%,0px,center center,100%,color-stop(0%,#2c8dfb),color-stop(50%,#1e70cd));
  background: -webkit-radial-gradient(0% 0%,ellipse cover,#2c8dfb 0%,#1e70cd 50%);
  background: -o-radial-gradient(0% 0%,ellipse cover,#2c8dfb 0%,#1e70cd 50%);
  background: -ms-radial-gradient(0% 0%,ellipse cover,#2c8dfb 0%,#1e70cd 50%);
  background: radial-gradient(ellipse at 0% 0%,#2c8dfb 0%,#1e70cd 50%);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  color: #fff;
}
header h1{
  font-weight: 100;
  color: white;
  font-size: 4.5vh;
}

header h2{
  letter-spacing: 2px;
  font-size: 2vh;
  color: white;
}
header ng-adsense{
  display: none;
}
header .content-icon{
  /*display: inline-block;*/
  width: auto;
  height: 100%;
  padding: 4vh;

}
header img.icon{
  height: 50%;
}

header .social-bar a{
  margin-right: 1vh;
}
nav.menu{
  background-color: #1976d2;
}
nav.menu .button-menu{
  color: white;
  font-size: 2vh;
  padding: 1.3vh;
  cursor: pointer;
  background-color: transparent;
  border-radius: 0;
}
nav.menu .button-menu.active{
  color: #1976d2;
  background-color: white;
}

header,
header .social-bar,
nav.menu{
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

footer{
  color: white;
  margin-top: 3vh;
  background-color: #1976d2;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 3vh 0vh;
}
footer div{
  font-size: 2vh ;
  text-align: center;
}
.content{
  padding: 2vh;
}
.content-icon{
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}



/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  header img.icon{
    height: 75%;
  }
  header h1{
    font-size: 5vh;
  }
  nav.menu .button-menu{
    font-size: 1.7vh;
  }
  footer div{
    font-size: 1.7vh ;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

  header h2{
    font-size: 2.2vh;
  }
  header .social-bar img{
    height: 2.2vh;
    width: auto;
  }
  .content-icon .icon{
    height: 75%;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  header ng-adsense{
    display: block;
  }
}


@media (min-width: 1600px) {
  footer div,
  nav.menu .button-menu{
    font-size: 1.7vh;
  }
}
