<!--The content below is only a placeholder and can be replaced.-->
<header>
  <div class="content-icon">
    <img class="icon" src="../assets/img/icon.png">
  </div>
  <div class="content-title">
    <h1>angular2-carousel</h1>
    <h2>An lightweight , simple and touchable carousel library</h2>
    <div class="social-bar">
      <a href="https://badge.fury.io/js/angular2-carousel"><img src="https://badge.fury.io/js/angular2-carousel.svg" alt="npm version" height="18"></a>
      <a href="https://github.com/kappys1/angular2-carousel"><img src="https://img.shields.io/badge/github-1.0.0-green.svg"></a>
    </div>
  </div>
  <div>
    <ng-adsense
      [adClient]="'ca-pub-3647075652313201'"
      [adSlot]="7259870550"
      [display]="'inline-block'"
      [width]="320"
      [height]="108">
    </ng-adsense>
  </div>
</header>
<nav class="menu">
  <a class="button-menu" routerLink="/getStarted"  routerLinkActive="active">Get Started</a>
  <a class="button-menu" routerLink="/demo"  routerLinkActive="active">Demos</a>
  <a class="button-menu" routerLink="/api"  routerLinkActive="active">API</a>
</nav>
<div class="content">
  <router-outlet></router-outlet>
</div>
<footer>
  <div>2017 © Angular 2 carousel by Alex Marcos from <a src="https://tmtfactory.com">tmtfactory.com</a></div>
</footer>



