<h1>Multiple Slides example</h1>
<p class="show-code"><a href="https://github.com/kappys1/angular2-carousel/tree/web-doc/src/app/components/multiple-sliders-carousel" target="_blank">Source code</a></p>
<button class="button-toggle"(click)="toggle()">Toggle Vertical / Horizontal Mode</button>
<carousel-component [mode]="'horizontal'" [morePairSlides]="moreSlides" [angle]="degree" #topCarousel>
  <div class="item-carousel"><div style="background-image: url(https://dqqzjdqmiszdy.cloudfront.net/sites/default/files/html5_assets/frames_minions_char_3_mob.png)"></div></div>
  <div class="item-carousel"><div style="background-image: url(http://i2.wp.com/farm1.staticflickr.com/502/19162022903_f8cd8501af.jpg?resize=500%2C271&ssl=1)"></div></div>
  <div class="item-carousel"><div style="background-image: url(https://i.pinimg.com/736x/78/1d/29/781d2914510339a762267ed4913cb62b.jpg)"></div></div>
  <div class="item-carousel"><div style="background-image: url(https://www.losminionsaldia.com/images/mas-minions/minion.png)"></div></div>
  <div class="item-carousel"><div style="background-image: url(https://vignette.wikia.nocookie.net/p__/images/e/eb/Gru_close-up.png/revision/latest?cb=20160414233204&path-prefix=protagonist)"></div></div>
  <div class="item-carousel"><div style="background-image: url(http://www.abc.net.au/news/image/6473316-1x1-700x700.jpg)"></div></div>
  <div class="item-carousel"><div style="background-image: url(https://vignette.wikia.nocookie.net/despicableme/images/0/06/Daveault2.png/revision/latest?cb=20130911160410)"></div></div>
  <div class="item-carousel"><div style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqHYZ08mC8dAGbyTxuQxkn9fbxGuOclg7T98ZG_FVLftamqjSB)"></div></div>
  <div class="item-carousel"><div style="background-image: url(https://images.jg-cdn.com/image/854b86b4-61be-417a-b4ff-498b8baeedd0.jpg?template=fundraisingpagegalleryxl)"></div></div>
  <div class="item-carousel"><div style="background-image: url(https://vignette.wikia.nocookie.net/despicableme/images/4/4d/Daveault1.png/revision/latest?cb=20130911160355)"></div></div>

</carousel-component>

