/**
 * :tmtfactory) © 2017
 * Alex Marcos <alejandro.marcos@tmtfactory.com>
 * @ignore
 */
carousel-component{
  display: flex;
  .container {
    margin: 0 auto;
    width: 600px;
    height: 400px;
    position: relative;
  }

  .carousel {
    height: 100%;
    width: 100%;
    position: absolute;
    transform-style: preserve-3d;
  }

  .item-carousel {
    display: block;
    position: absolute;
    background: #000;
    width: 100%;
    height: 100%;
    line-height: 200px;
    font-size: 5em;
    text-align: center;
    transform-style: preserve-3d;
    overflow: hidden;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
    img{
      user-drag: none;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-drag: none;
      -webkit-user-select: none;
      -ms-user-select: none;
    }
  }

  .item-carousel.next,
  .item-carousel.prev,
  .item-carousel.actual{
    opacity: 0.95;
  }
}

