/* Master Styles */
h1 {
  color: #1976d2;
  font-family: "myriad",Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: "myriad",Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: lighter;
}
body {
  margin: 0em;
}
body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}
a {
  cursor: pointer;
  cursor: hand;
}
pre{
  overflow: hidden;
  word-wrap: break-word;
  white-space: pre-wrap;
}
div.code.hljs{
  border: 1px solid #eee;
  background: #fafafa;
  padding: 10px;
  border-radius: 3px;
}
button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 1px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

/* Navigation link styles */
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}

/* everywhere else */
* {
  font-family: "myriad",Helvetica Neue,Helvetica,Arial,sans-serif;
}
