<h1>Simple example</h1>
<p class="show-code"><a href="https://github.com/kappys1/angular2-carousel/tree/web-doc/src/app/components/simple-carousel" target="_blank">Source code</a></p>
<button class="button-toggle"(click)="toggle()">Toggle Vertical / Horizontal Mode</button>
<carousel-component [mode]="'horizontal'" [timeToSlide]="300" #topCarousel>
  <div class="item-carousel" *ngFor="let image of images">
    <div [ngStyle]="{'background-image': 'url(' + image + ')'}"  >
    </div>
  </div>

</carousel-component>

