h1{
  font-size: 5vh;
  font-weight: 200;
}

h2{
  font-size: 3vh;
  font-weight: 200;
  color: #1976d2;
}
h3{
  font-size: 2vh;
  font-weight: 200;
  color: #1976d2;
}

p{
  font-size: 1.8vh;
}
table{
  width: 100%;
  font-size: 1.8vh;
  border-collapse: collapse;
  border-spacing: 0;
  color: #555;
}
table, th, td {
  border: 1px solid #555;
}
th, td {
  padding: 1vh;
}
.example-title{
  cursor: pointer;
}
.content-example{
  opacity: 0;
  height: 0vh;
  overflow: hidden;
  visibility: hidden;
  -webkit-transition: opacity 300ms, height 300ms;
  -moz-transition: opacity 300ms, height 300ms;
  -o-transition: opacity 300ms, height 300ms;
  transition: opacity 300ms, height 300ms;
}
.content-example.show{
  opacity: 1;
  visibility: visible;
  height: auto;
}
.code{
  font-size: 1.8vh;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  h1{
    font-size: 4.5vh;
  }
  h2{
    font-size: 2.5vh;
  }
  .code,
  p{
    font-size: 1.7vh;
  }
  table{
    width: 95%;
    font-size: 1.7vh;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  table{
    width: 70%;
    font-size: 1.7vh;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1600px) {
  table{
    width: 70%;
    font-size: 1.5vh;
  }
  .code,
  p{
    font-size: 1.5vh;
  }

}
